$primary: #f28705;
$success: #41a664;
$warning: #f2b705;
$dark: #01402e;

// * {
//   outline: 1px solid red;
// }

@import "bootstrap/scss/bootstrap";

$custom-chip-colors: (
  ACTIVITY: $blue-500,
  OBSERVATION: $green-500,
  STATE: $orange-500,
  FOLDERLOCATION: $teal-500,
  UNIT: $red-500,
  TYPE: $yellow-500,
  CLASIFICATION: $pink-500,
  USER: $blue-700,
  PROVINCE: $green-700,
  PERMISSION: $orange-700,
  PROPERTY: $teal-700,
  CITY: $red-700,
  BENEFICIARY: $yellow-700,
  MUNICIPALITY: $pink-700,
  ROLE: $blue-600,
  USERTYPE: $green-600,
  STAGE: $black,
  READ: $blue,
  CREATE: $green,
  UPDATE: $orange,
  DELETE: $red,
  GROUPEDSTATE: $blue-800,
  REFERENCE: $red-800,
  TRACKING: $yellow-800,
);

@each $type, $color in $custom-chip-colors {
  .chip-#{$type} {
    font-size: 0.8rem;
    text-align: center;
    background-color: $color;
  }

  .chip-outline-#{$type} {
    font-size: 0.8rem;
    text-align: center;
    border: 1px solid $color;
    color: black;
  }
}

// #root {
// background-image: url("https://static.zerochan.net/Lum.full.3811583.jpg");
// background-size: cover;
// }

// * {
//   outline: 1px solid red;
// }
