$primary: #f28705;
$success: #41a664;
$warning: #f2b705;
$dark: #01402e;

// * {
//   outline: 1px solid red;
// }

@import "bootstrap/scss/bootstrap";

$custom-chip-colors: (
  USER: $blue-700,
  PROVINCE: $green-700,
  PROPERTY: $teal-700,
  BENEFICIARY: $yellow-700,
  PERMISSION: $orange-700,
  CITY: $red-700,
  MUNICIPALITY: $pink-700,
  USER_PERMISSION: $green-700,
  ACTIVITY: $blue-500,
  OBSERVATION: $green-500,
  READ: $blue,
  CREATE: $green,
  UPDATE: $orange,
  DELETE: $red,
);

@each $type,
$color in $custom-chip-colors {
  .chip-#{$type} {
    font-size: 0.8rem;
    text-align: center;
    background-color: $color;
  }

  .chip-outline-#{$type} {
    font-size: 0.8rem;
    text-align: center;
    border: 1px solid $color;
    color: black;
  }
}